.boxContainer {
    background-color: white;
}

.boxContainer:hover {
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0), 0 4px 20px 0 rgba(0, 0, 0, 0.1);
    /*cursor: pointer;*/
}

.boxDetails {
    padding: 20px;
}