section {
    z-index: -100;
    padding-top: 3em;
    padding-bottom: 3em;
    margin: 0;
    overflow-x: hidden;
}

.noSpace {
    padding: 0;
}

.wrapper {
    width: 1200px;
    margin: auto;
    z-index: -100;
}

.content {
    display: block;
    margin-left: 1em;
    margin-right: 1em;
    z-index: -100;
}

.defaultSection {

}

.sec-theme-white {
    background-color: white;
}

.sec-theme-grey {
    background-color: var(--color-background-grey);
}

.sec-theme-dark {
    background-color: var(--color-accent-dark);
}

@media only screen and (min-width: 0px) and (max-width: 1200px){
    .wrapper {
        width: 100%
    }
}