:root {
    --content-width: 1200px;
}

html,body  {
    margin: 0;
    padding: 0;
    font-family: "Proxima Nova Bold", sans-serif;
}

html {
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: black;
}

body {
    position: relative;
}

img {
    height: 60px;
}

#animation-wrapper {
    overflow-x: hidden;
    width: 100vw;
}

#animation {
    width: 118vw;
    height: 60vw;
    padding: 0;
    position: fixed;
    left: 0;
    margin-left: -14vw;
    margin-top: -40vw;
    transform: rotate(-15deg);
    z-index: -1;
    overflow-x: hidden;
    background-color: black;
}

nav {
    width: 100%;
    height: 5em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    z-index: 10000 !important;
}

nav img {
    margin:0;
    height: 2.2em;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

nav ul li {
    list-style: none;
    margin-left: min(1.3em, 2vw);
}

nav ul li:hover {
    cursor: pointer;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-family: "Proxima Nova Bold", sans-serif;
    font-size: 1.2em;

}

h1 {

    font-size: 7em;
    margin: 0;
}

h2 {
    font-size: 2em;
    margin: 0;
}

.blend {
    color: var(--color-accent);
    mix-blend-mode: difference;
}

h3 {
    font-family: 'Proxima Nova Semibold', sans-serif;
    font-size: 1.6em;
    margin: 0;
    color: var(--color-accent-dark);
}

p {
    font-size: 1.1em;
    line-height: 2em;
    font-family: 'Proxima Nova Semibold', sans-serif;
}

p .accent {
    display: inline;
    font-size: 1em;
}

.white {
    color: white;
}

.accent {
    color: var(--color-accent);
}

.accentDarker {
    color: var(--color-accent-darker);
}

.bgHeader {
    position: relative;
    margin-top: 0.8em;
    margin-bottom: 0;
    text-align: center;
    color: var(--color-accent);
    z-index: 0;
}

.bgHeaderFancy {
    mix-blend-mode: lighten;
    z-index: -1;
}

.centerGrid {
    text-align: center;
}

form {
    width: 100%;
}

select,
input {
    display: block;
    box-sizing: border-box;
    width: 100%;
    border-radius: 8px;
    border: 1px solid white;
    padding: 10px 15px;
    margin-bottom: 15px;
    color: grey
}

textarea {
    width: 100%;
    display: block;
    box-sizing: border-box;
    border-radius: 8px;
    border: 1px solid white;
    padding: 10px 15px;
    margin-bottom: 15px;
    height: 150px;
    color: grey;
    resize: none;
}

input[type="submit"],
button {
    cursor: pointer;
    background: var(--color-accent);
    color: white;
    border: none;
    padding: 20px 40px 20px 40px;
    letter-spacing: 1px;
    display: block;
    appearance: none;
    border-radius: 8px;
    outline: none !important;
    box-shadow: none !important;
}

.button-rounder {
    border-radius: 50px;
    letter-spacing: 0px;
    font-size: 0.8em;
}

@media only screen and (min-width: 0px) and (max-width: 1200px){
    .wrapper {
        width: 100%
    }
    #animation {
        margin-top: -20vw;
    }
}

@media only screen and (min-width: 0px) and (max-width: 650px){
    #animation {
        margin-top: -15vw;
    }

    h2 {
        font-size: 1.5em;
    }

    .bgHeader {
        margin-top: 1em;
        font-size: 3.5em;
    }

    nav img {
        height: 1.4em;
    }

    nav ul {
        margin-left: -2em;
    }

    nav ul li a {
        font-size: 1em;
    }

    img {
        height: 40px;
    }
}

@media only screen and (min-width: 2600px){
    #animation {
        transform: rotate(-10deg);
        margin-top: -45vw;
    }
}
