@font-face {
    font-family: 'Museo';
    src: url("./../assets/fonts/Museo300-Regular.otf") format('opentype');
    font-style: normal;
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'Museo';
    src: url("./../assets/fonts/Museo500-Regular.otf") format('opentype');
    font-style: normal;
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Museo';
    src: url("./../assets/fonts/Museo700-Regular.otf") format('opentype');
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url("./../assets/fonts/ProximaNova-RegularItalic.otf") format('opentype');
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url("./../assets/fonts/ProximaNova-Regular.otf") format('opentype');
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova Medium';
    src: url("./../assets/fonts/ProximaNova-Medium.otf") format('opentype');
    font-style: normal;
    font-weight: bold;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova Medium Condensed';
    src: url("./../assets/fonts/ProximaNovaCondensed-Medium.otf") format('opentype');
    font-style: normal;
    font-weight: bold;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova Semibold';
    src: url("./../assets/fonts/ProximaNova-Semibold.otf") format('opentype');
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova Bold';
    src: url("./../assets/fonts/ProximaNova-Bold.otf") format('opentype');
    font-style: normal;
    font-display: swap;
}
